*{font-family: 'Bree Serif', serif;}

main{width: 90%;
height: 80%;
margin-left: 30%;
}

header{height:80px;
width: 100%;
background-color: lightblue;
}

footer{height:80px;
width: 100%;
background-color: lightblue;
}
.LigneSemaine{ display: flex;
 }

.octobre{ color: rgb(204,32,48);
font-size: 30px; }

.octobre:hover { color: rgba(204,32,48,0.5); }

.jour{ height: 90px;
width: 90px; 
margin: 1px;
	
	font-size: 18px;
border-radius: 10%;
border: solid 2px #cc2030 ;

	color: white;
	background-color: rgb(204,32,48);}

.jour p {
	position: relative;
	bottom: -10px;}

.jour:hover{ background-color: white;
border-color: rgb(204,32,48);
color: rgb(204,32,48) }

.case{border-style: solid;
	border-color: #cc2030;
	color: rgba(204,32,48,0.5);
	border-width: 2px;
	border-radius: 10%;
	font-size: 33px;
	margin: 1px;
height: 90px;
width: 90px;}

.case:hover{ font-size:  55px;
color: rgb(204,32,48); }

.ligne1{display: flex;}

.ligne2{display: flex;}

.ligne3{display: flex;}

.ligne4{display: flex;}

.ligne5{display: flex;}

.lien{text-decoration: none;}

.section1{ margin-left: 15%; }
